.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    box-shadow: 1px 1px 15px black;
    z-index:6;
}

.nav-item{
    padding-left: 50px;
}

.card{
    width: 600px;
}

.card img{
    height: 180px;
    width: 200px;
}

.link-card{
    text-decoration: none;
    color: black;
}

.link-card:hover{
    color: black;
}

.card-body:hover{
    background-color: rgba(0, 21, 255, 0.059);
}

.modal-body img{
    width: 100%;
}

.carrinho{
    position: fixed;
    bottom: 0;
    z-index: 2;
    margin-bottom: 4.5%;
    background-color: red;
    color: white;
    height: 110px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.whats img{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 100px;
    width: 100px;
}



